.jumbotron {
    border: black thin solid;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    background-color:#bbb;
    border: black thin solid;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    background-color:#bbb;
    border: black thin solid;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    list-style-type: none;
    float: left;
}

.userSignCheck{
    color: white;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.mainInfo{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.navbar .active {
    background-color: #4CAF50;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}