{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tales of Requiem</title>
    <link rel="stylesheet" href="{% static 'StoryApp/css/StoryApp.css' %}">
    <link rel="stylesheet" href="{% static 'StoryApp/bootstrap/bootstrap.css' %}">
    <script src="{% static 'StoryApp/bootstrap/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'StoryApp/bootstrap/bootstrap.js' %}"></script>

    <style>
        body {
            background-color: lightgray;
            font-family: 'Spicy Rice', cursive;
        }
    </style>
</head>
<body>
<div class="navbar">
    <ul>
        <li><a class="active" href="{% url 'userindex' %}">Home</a></li>
        {% block navi %}
        {% endblock %}
    </ul>
    <div class="userSignCheck">
        {% if user.is_authenticated %}
        <h1>User: {{ user.get_username }}</h1>
        {% else %}
        <h1>Not Logged IN</h1>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="jumbotron" align="center">
        <h1>Requriem Character Sheet</h1>
    </div>


    <div class="mainInfo" style="border: black thin solid" align="center">
        {% block maininfo %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    <div class="footer" style="border: black thin solid">
        {% block footer %}
        {% endblock %}
    </div>
</div>

</body>
</html>