{% extends 'StoryApp/base.html' %}

{% block maininfo %}
<div class="post">
    {% if post.is_authenticated %}
    <div class="date">
        {{ post.date_Submitted }}
    </div>
    {% endif %}

    <!--{# if post.username == user.get_username #}-->
    <div align="center"><b>
    <a class="btn btn-primary btn-lg btn-block" href="{# url 'edit' pk=post.pk #}">Edit Info</a>
        <br/>
    <a class="btn btn-primary btn-lg btn-block" href="{# url 'deposit' pk=post.pk #}">Deposit</a>
        <br/>
    <a class="btn btn-primary btn-lg btn-block" href="{# url 'withdraw' pk=post.pk #}">Withdraw</a>
    </b></div>
    <h1>Username: {{ post.full_name }}</h1>
    <div class="row">
        <div class="column">
            <p><h3>Checking Balance: $ </h3></p>
        </div>

        <div class="column">
            <p><h3>Savings Balance: $ </h3></p>
        </div>
    </div>
    <br/>
    <div class="row">
    <div class="column">
    <h2>Deposits:</h2>


    </div>
    <br/>
    <div class="column">
    <h2>Withdraws:</h2>


    </div>
    </div>
</div>

{% endblock %}



{% block navi %}

<li class="logout" align="right">
    <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
</li>

{% endblock %}


{% block footer %}

{% if user.is_authenticated %}
{% if user.username == 'admin' %}
<div align="center">
    <footer>
        <h5>
            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin Site</a>
        </h5>
    </footer>
</div>
{% elif user.username == 'student' %}
<div align="center">
    <footer>
        <h5>
            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin Site</a>
        </h5>
    </footer>
</div>
{% else %}
<h5> || A NightxGamer Website || </h5>
{% endif %}
{% endif %}
{% endblock %}