{% extends "StoryApp/base.html" %}


{% block navi %}

    <li class="logout" align="right">
        <a href="{% url 'logout' %}" class="btn btn-link">Logout</a>
    </li>

{% endblock %}


{% block maininfo %}
{% if form_list %}

<div align="center">
    <a href="{% url 'post_new' %}"><img align="right" src="../../static/StoryApp/images/plus.png" height="33" width="33" title="Add New Family Account"/></a>
    <hr/>
</div>
<ul>
    {% for eachItem in form_list %}
    <li><b>Character Name</b>: <a href="{% url 'detail' pk=eachItem.pk %}" class="btn btn-link">{{ eachItem.full_name }}</a>
        <p><b>Class Name</b>: {{ eachItem.classFK }}
        </li>
    <br/>

    </hr>
    {% if user.is_authenticated %}
    {% if user.username == 'admin' %}
    <div style="color: red">

        <h5>
            (Owned by {{ eachItem.username }})
        </h5>

    </div>
    {% elif user.username == 'student' %}
    <div style="color: red">

        <h5>
            (Owned by {{ eachItem.username }})
        </h5>

    </div>
    {% else %}

    {% endif %}
    {% endif %}

    {% endfor %}
</ul>
{% else %}
<div align="center">

    <a href="{% url 'post_new' %}"><img align="right" src="../../static/StoryApp/images/plus.png" height="33" width="33" title="Add New Family Account"/></a>
    <hr/>
</div>
<h1 align="center">Add an Character</h1>
{% endif %}
{% endblock %}


{% block footer %}

{% if user.is_authenticated %}
{% if user.username == 'admin' %}
<div align="center">
    <footer>
        <h5>
            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin Site</a>
        </h5>
    </footer>
</div>
{% elif user.username == 'student' %}
<div align="center">
    <footer>
        <h5>
            <a href="{% url 'admin:index' %}" class="btn btn-link" target="_blank">Admin Site</a>
        </h5>
    </footer>
</div>
{% else %}
<h5> || A NightxGamer Website || </h5>
{% endif %}
{% endif %}
{% endblock %}